---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Happy bithday">
	<div class="w-full flex relative flex-col items-center">
		<div class="absolute bg-forty-brown w-64 h-64 -top-20 -left-10" style="border-radius:19% 81% 28% 72% / 64% 43% 57% 36% ;">
		</div>
		<div class="absolute bg-tertiary-brown w-80 h-96 top-[500px] -right-10" style="border-radius:64% 36% 46% 54% / 41% 75% 25% 59% ;">
		</div>
		<div class="absolute bg-secondary-brown w-80 h-96 top-[1200px] -left-10" style="border-radius:21% 79% 8% 92% / 84% 84% 16% 16% ;">
		</div>
		<!-- <div class="absolute bg-secondary-brown w-80 h-96 top-[2000px] -right-10 z-10" style="border-radius:21% 79% 8% 92% / 84% 84% 16% 16% ;">
		</div> -->
		<h1 class="text-primary-brown text-4xl mt-20 z-30">Happy Birthday!</h1>
		<div class="w-[80%] h-[400px] mt-8 bg-[#fff] z-30 flex flex-col items-center mb-14" style="box-shadow: 2px -2px 10px rgba(26, 26, 26, 0.295);">
			<img class="w-[80%] h-64 object-cover mt-7" src="main.jpeg" alt="">
			<p class=" text-center mt-5">Una foto con la Cumpleanera</p>
		</div>
		<p class="w-[80%] z-10 text-center">Primeramente quiero desearte un feliz cumpleaños, Michelle. Espero que disfrutes mucho hoy, que la pases súper bien (nos vemos más tarde), que Dios y la Virgen te sigan bendiciendo, cuidando y ayudando a cumplir todos esos sueños y metas.</p>

		<div class="w-[100%] flex flex-col items-center overflow-hidden">
			<div class="w-[80%] h-[400px] mt-16 bg-[#fff] z-30 flex flex-col items-center rotate-[20deg]" style="box-shadow: 2px -2px 10px rgba(14, 4, 4, 0.295);">
				<img class="w-[80%] h-64 object-cover mt-7" src="img.jpeg" alt="">
				<p class=" text-center mt-5">El dia en que nos conocimos</p>
			</div>
			<div class="w-[80%] h-[400px] bg-[#fff] z-30 flex flex-col items-center mb-20 rotate-[-20deg]" style="box-shadow: 2px -2px 10px rgba(26, 26, 26, 0.295);">
				<img class="w-[80%] h-64 object-cover mt-7" src="img1.jpeg" alt="">
				<p class=" w-[80%] text-center mt-5" >Si mal no recuerdo esta fue la primera vez que te visite</p>
			</div>
		</div>
		<p class="w-[80%] z-10 text-center">
			Ya está terminando el año y una de las mejores cosas que ocurrió en él fue conocerte. Eres una mujer increíble, divertida, trabajadora, jodedora y sobre todo una excelente amiga. Gracias por enseñarme a bailar, por enseñarme a ser más relajado, por regalarme tan buenos momentos a tu lado y espero que este nuevo año traiga muchísimos más.
		</p>
		<img id="pastel" class="w-[90%] mt-10 mb-16 z-30" src="./pintura.png" alt="">
		<p class="text-4xl text-center">Te amo muchisimo Negrita</p>
		<img src="./torta.png" alt="">
		
	</div>
	
</Layout>
<script>
	let pastel = document.getElementById('pastel');

	if(pastel)
		pastel.addEventListener('click', () => {
			console.log('click');
			// confetti();
		});
</script>