<section class="max-w-[1000px] w-[100vw] bg-secondary-gray rounded-md flex flex-col items-center">
  <h2 class="text-3xl font-bold mt-16 mb-14 text-center" >
    About us
  </h2>
  <p class="w-[80%] mb-9 text-lg text-justify">At Matepla, we specialize in providing comprehensive solutions for your construction needs. From selling high-quality materials to creating detailed estimates for your projects and transporting your goods safely and efficiently, we are committed to being your trusted partner every step of the way.</p>
  <img class="rounded-md w-[80%] mb-20" src="./constructors.jpeg" alt="">
</section>