---
const { img, name, alt, stock, price } = Astro.props;
---
<div class="item min-w-[320px] w-[320px] sm:w-full max-w-[350px] min-h-[390px] max-h-[390px] bg-secondary-gray flex flex-col rounded-md overflow-hidden pb-1">
  <img class="min-w-[354px] min-h-[264px] object-cover" style="clip-path: polygon(100% 0, 100% 85%, 60% 100%, 0 85%, 0 0);" src=`./${img}` alt=`${alt}`>
  <div class="mt-2">
    <h4 class="text-3xl font-bold ml-4" >{ name }</h4>
    <p class="ml-4">stock: { stock }</p>
    <p class="mt-2 mr-4 text-end text-3xl font-bold">{ price }$</p>
  </div>
</div>