---
import WhatsappIcon from "./WhatsappIcon.astro";
import InstagramIcon from "./InstagramIcon.astro";
---

<section class="max-w-[1000px] w-[100vw]">
  <h2 class="text-3xl sm:text-5xl font-bold mt-16 mb-16 sm:mb-24 text-center" >
    Contact us
  </h2>
  <div class="flex flex-col sm:flex-row items-center justify-evenly mb-24 sm:mb-32 gap-10">
    <a href="https://www.instagram.com/matepla_ca/" target="_blank">
      <InstagramIcon width="150px"/>
    </a>
    <a href="">
      <WhatsappIcon width="150px"/>
    </a>
  </div>
</section>