
<nav class="bg-tertiary-gray w-full">
  <ul class="w-full flex justify-end sm:justify-center items-center max-h-16">
    <li class="mr-auto sm:mr-0"><a class="px-6 sm:px-8 text-base font-bold flex items-center h-full gap-2 py-7" href="/"><img src="./icon.png" alt="MATEPLA C.A" class="w-12"><span class="hidden sm:inline">MATEPLA C.A</span></a></li>
    <li><a class="px-8 text-xl font-bold h-full hidden sm:block py-7" href="/">Inicio</a></li>
    <li><a class="px-8 text-xl font-bold h-full hidden sm:block py-7" href="/Articles">Articulos</a></li>
    <li id="open" ><svg class="w-8 block sm:hidden mr-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path fill="#D7D8E0" d="M0 80c0-8.8 7.2-16 16-16l416 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L16 96C7.2 96 0 88.8 0 80zM0 240c0-8.8 7.2-16 16-16l416 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L16 256c-8.8 0-16-7.2-16-16zM448 400c0 8.8-7.2 16-16 16L16 416c-8.8 0-16-7.2-16-16s7.2-16 16-16l416 0c8.8 0 16 7.2 16 16z"/>
      </svg>
    </li>
  </ul>
  <ul id="menu" class="absolute w-full flex flex-col hidden h-full bg-secondary-gray bg-opacity-85 backdrop-blur z-50 top-0 right-0">
    <li id="exit" class="h-16">
      <a class="pl-6 text-xl font-bold py-4 w-full flex items-center hover:bg-primary-blue">
        <svg class="w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path fill="#D7D8E0" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
        </svg>
      </a>
    </li>
    <li class="h-16"><a class="pl-6 text-xl font-bold py-4 w-full flex items-center hover:bg-primary-blue" href="/">Inicio</a></li>
    <li class="h-16"><a class="pl-6 text-xl font-bold py-4 w-full flex items-center hover:bg-primary-blue" href="/Articles">Articulos</a></li>
  </ul>
</nav>
<script>

  const showHideMenu = () => {
    const menu = document.getElementById('menu');
    if(menu)
      menu.classList.toggle("hidden");
  }
  
  document.getElementById('open')?.addEventListener('click', showHideMenu);
  document.getElementById('exit')?.addEventListener('click', showHideMenu);
</script> 