
<section class="max-w-[1000px] w-full flex flex-col items-center">
  <div class="w-full flex flex-col gap-4 sm:gap-0 sm:flex-row justify-between items-center mt-16 sm:mt-20 md:mt-28 mb-10 sm:mb-16 px-8">
    <h1 class="text-5xl sm:text-6xl text-center sm:text-left w-full sm:w-32 md:text-8xl font-extrabold text-wrap md:w-96">Matepla C.A</h1>
    <p class="text-xl sm:text-3xl text-center sm:text-right w-full sm:w-44 font-bold text-wrap md:text-4xl md:w-52">Making solutions for construction</p>
  </div>
  <img class="w-[94%] mb-16 sm:mb-20 rounded-md" src="./machinery.jpg" alt="">
</section>