<section class="max-w-[1000px] w-[100vw] bg-secondary-gray flex flex-col items-center rounded-md">
  <h2 class="text-3xl font-bold mt-16 mb-14">Our services</h2>
  <p class="w-[80%] mb-9 text-lg text-justify">We specialize in meticulously crafting comprehensive budgets for your construction projects. Our dedicated team of experts analyzes every aspect of your project, from materials and labor to permits and contingencies, to ensure that you have a detailed and accurate financial plan. We take into account the unique requirements and specifications of each project, providing you with a customized budget that covers all essential elements and potential variables. Our goal is to provide you with a clear understanding of your project's financial landscape, enabling you to make informed decisions and effectively manage your resources.</p>
  <img class="rounded-md w-[80%]" src="./
architect.jpg" alt="">
  <p class="w-[80%] my-9 text-lg text-justify">We are proud to be leading manufacturers of high-quality construction items, including but not limited to ribbed plates and blocks. Our extensive product line is designed to meet the diverse needs of the construction industry, ensuring durability, reliability, and compliance with industry standards. Our expert team utilizes state-of-the-art technology and superior raw materials to produce items that not only meet but exceed the expectations of our clients. Whether you're embarking on a residential, commercial, or industrial project, our construction materials are engineered to provide exceptional performance and longevity.</p>

  <img class="w-[80%] rounded-md block lg:hidden" src="./constructionBlocks.jpeg" alt="">
  <div class="relative w-[80%] h-[540px] hidden lg:block">
    <img class="absolute max-w-[460px] max-h-[321px] rounded-md" src="./constructionBlocks.jpeg" alt="">
    <img class=" absolute max-w-[460px] max-h-[321px] rounded-md translate-x-[340px] translate-y-52" src="placasNervadas.webp" alt="">
  </div>
  <p class="w-[80%] my-9 text-lg text-justify">We ensure timely and reliable transportation of all construction materials to your specified location. Whether you are working on a residential, commercial, or industrial project, our dedicated logistics team coordinates every aspect of the delivery process to guarantee that your materials arrive safely and on schedule, ready for immediate use.</p>
  <img class="rounded-md w-[80%] mb-20" src="truck.png" alt="">
</section>