---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Domine:wght@400..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="bg-bg-brown flex items-center flex-col text-text-gray">
		<Header/>
		<main class=" w-full flex flex-col items-center overflow-x-hidden">
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		font-family: "Courgette", serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
